@import "tailwindcss";

body {
    font-family: var(--font-inter), system-ui, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-poppins), system-ui, sans-serif;
}

button,
.btn {
    font-family: var(--font-poppins), system-ui, sans-serif;
}